@import "adaptiv.css";

/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-areas: "app";
    grid-template-columns: 99%;
}

.app {
    grid-area: app;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.lineUnderHeading {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 80px;
    border-bottom: 1px solid #a8a8a8;
}

/* 1 QUESTION */

.app1 {
    width: 1170px;
    height: 403px;
    /* 503 */
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage1 {
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content1 {
    top: 133px;
    left: calc(50% - 450px / 2);
    width: 450px;
    height: 150px;
}

/* top row styles */

.topRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 450px;
    height: 50px;
}

.square {
    position: static;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

/* bottom row styles */

.bottomRow {
    top: 47px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 450px;
    height: 50px;
}

.number {
    position: static;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: grab;
}

.number:hover {
    transform: scale(1.2);
}

.numberError,
.numberSuccess {
    position: static;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 26px;
    cursor: grab;
    border-radius: 50px;
}

.numberError {
    border: 4px solid #ffb47d;
}

.numberSuccess {
    border: 4px solid #9dd765;
}

/* 2 QUESTION */

.app2 {
    top: 10px;
    left: calc(50% - 1170px / 2);
    width: 1170px;
    height: 342px; /* 413 */
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage2 {
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content2 {
    top: 132px;
    left: calc(50% - 810px / 2);
    width: 810px;
    height: 90px;
}

/* 2. inputs styles */

.inputsCollection {
    display: flex;
    height: 30px;
}

.inputContent div,
.inputContentSuccess div,
.inputContentError div {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    box-sizing: border-box;
    flex: none;
    order: 9;
    flex-grow: 0;
}

.inputContent div {
    border: 1.5px solid #2f2f2f;
    border-radius: 5px;
}

.inputContentSuccess div {
    border: 4px solid #9dd765 !important;
    border-radius: 5px;
}

.inputContentError div {
    border: 4px solid #ffb47d !important;
    border-radius: 5px;
}

.filledField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    text-align: center;
    background: #369cb7;
    border: none !important;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #ffffff;
    cursor: grab;
}

.collectionFilledFields {
    left: calc(50% - 642px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 642px;
    height: 30px;
    position: absolute;
    bottom: 0;
}

/* 3 QUESTION */

.app3 {
    width: 1170px;
    height: 517px;
    /* 657 */
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage3 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content3 {
    top: 132px;
    left: calc(50% - 360px / 2);
    width: 360px;
    height: 265px;
}

/* figures styles */

.figures,
.places {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.figures {
    width: 360px;
    height: 100px;
}

.figures img {
    cursor: grab;
}

.figures img:hover {
    position: static;
    width: 100px;
    height: 100px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* places styles */

.namePlace {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

.places {
    top: 37px;
    width: 360px;
    height: 125px;
}

.figure3success {
    border: 4px solid #9dd765 !important;
    border-radius: 5px;
}

.figure3error {
    border: 4px solid #ffb47d !important;
    border-radius: 5px;
}

/* 4 QUESTION */

.app4 {
    width: 1170px;
    height: 477px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage4 {
    top: 26px;
    left: 335px;
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

/* 1. inputs styles */

.inputContent2 {
    left: calc(50% - 153px / 2);
    top: 247px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 30px;
    font-weight: bold;
}

.inputContent2 input {
    width: 70px;
    height: 30px;
    margin: 0px 10px;
    border: 1.5px solid #2f2f2f;
    border-radius: 5px;
    text-align: center;
}

.cookies {
    left: calc(50% - 502px / 2);
    width: 502px;
    height: 61px;
    top: 133px;
}

.message {
    width: 770px;
    height: 44px;
    left: calc(50% - 770px / 2);
    top: 200px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    font-weight: bold;
}

/* 5 QUESTION */

.app5 {
    width: 1170px;
    height: 527px;
    /* 657 */
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage5 {
    top: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content5 {
    top: 63px;
    left: calc(50% - 571px / 2);
    width: 571px;
    height: 264.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ice cream styles */

.iceCream {
    width: 270px;
    height: 134px;
}

.topRow2,
.bottomRow2,
.topRowFlower,
.bottomRowFlower {
    display: flex;
}

.topRow2 div,
.bottomRow2 div {
    margin-right: 40px;
    width: 37.33px;
    height: 60px;
}

.topRow2 {
    margin-left: 40px;
}

.bottomRow2 {
    margin-left: 20px;
}

/* flowers styles */

.flowers {
    width: 270px;
    height: 134px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.topRowFlower,
.bottomRowFlower {
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10px;
}

.topRowFlower div,
.bottomRowFlower div {
    width: 42px;
    height: 39px;
}

/* addition styles */

.additionInTheFormInputs {
    top: 67px;
    left: calc(50% - 222px / 2);
    width: 222px;
    height: 90px;
}

.inputCollection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 222px;
    height: 30.2px;
    margin-bottom: 30px;
}

.inputContent3 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    transform: rotate(-0.21deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    text-align: center;
}

#selectInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 30px;
}

.btnsCollection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 222px;
    height: 30px;
}

.buttonContent div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    color: white;
    cursor: grab;
}

/* 6 QUESTION */

.app6 {
    width: 1170px;
    height: 544px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage6 {
    top: 25px;
    width: 1170px;
    height: 44px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

.excretion {
    font-weight: bold;
}

/* content styles */

.content6 {
    left: calc(50% - 382.71px / 2);
    top: 120px;
    /* top: calc(50% - 269.69px / 2); */
    width: 382.71px;
    height: 269.69px;
}

.basket {
    left: calc(50% - 270px / 2);
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.titleBasket {
    width: 270px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.applesRow {
    left: calc(50% - 382.71px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 382.71px;
    height: 40px;
    margin-top: 40px;
}

.applesRow div {
    width: 37.95px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 31px;
    cursor: grab;
}

.applesRow div:hover {
    transform: scale(1.2);
}

.textBasket {
    width: 112px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    left: calc(50% - 112px / 2);
    top: calc(50% - 20px / 2);
}

.appleInBasket,
.appleInBasket2row {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.appleInBasket div,
.appleInBasket2row div {
    width: 37.95px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;
}

/* 7 QUESTION */

.app7 {
    width: 1170px;
    height: 555px;
    /* 777 */
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage7 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content7 {
    top: 100px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 279.69px;
}

/* candies styles */

.candies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: calc(50% - 530px / 2);
    width: 530px;
    height: 50px;
}

.candy img {
    position: static;
    width: 50px;
    height: 50px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-right: 30px;
    cursor: grab;
}

.candy img:hover {
    transform: scale(1.2);
}

/* mans styles */

.mans {
    width: 570px;
    height: 160px;
    margin-top: 67px;
    margin-left: -1px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bob {
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.dave {
    width: 270px;
    height: 160px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.header {
    width: 271px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.textHeader {
    width: 34px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    left: calc(50% - 34px / 2);
    top: calc(50% - 20px / 2);
    color: #ffffff;
}

.placeDropCandy {
    width: 271px;
    height: 133px;
}

/* 8 QUESTION */

.app8 {
    width: 1170px;
    height: 550px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage8 {
    top: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

/* content styles */

.content8 {
    top: 155px;
    left: calc(50% - 505px / 2);
    width: 505px;
    height: 275px;
}

/* animals styles */

.animals {
    width: 505px;
    height: 192.8px;
}

.rowJellyfish,
.rowSeahorses {
    display: flex;
}

.rowJellyfish div,
.rowSeahorses div {
    width: 100.33px;
    height: 96.4px;
    border: 2px solid #a1a6d9;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowJellyfish div:last-of-type,
.rowSeahorses div:last-of-type {
    border-right: 2px solid #a1a6d9;
}

.rowJellyfish div {
    border-bottom: none;
}

/* inputs styles */

.inputsCollection2 {
    top: 49px;
    left: calc(50% - 192px / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 30px;
}

.inputContent4 input {
    position: static;
    width: 50px;
    height: 30px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 5px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    text-align: center;
}

.sign {
    position: static;
    width: 11px;
    height: 22px;
    left: 55px;
    top: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}

/* 9 QUESTION */

.app9 {
    width: 1170px;
    height: 525px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage9 {
    top: 25px;
    left: calc(50% - 561px / 2);
    width: 561px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* content styles */

.content9 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 273px;
}

/* cubes styles */

.cubes {
    left: calc(50% - 84.62px / 2);
    width: 84.62px;
    height: 187.73px;
    display: flex;
}

.columnDice div {
    margin: -10.7px 0;
    cursor: grab;
}

.columnDice div:last-of-type {
    margin-bottom: 0px;
}

.columnDice {
    margin-right: 6.7px;
}

/* btns styles */

.btns {
    top: 37px;
    left: calc(50% - 570px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
}

.btns div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

.btns div div:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2);
    top: calc(50% - 45px / 2);
    border: 1px solid #369cb7;
    color: #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    flex-grow: 0;
    margin-right: 30px;
}

/* 10 QUESTION */

.app10 {
    width: 1170px;
    height: 382px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage10 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content10 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 375px;
    /* border: 1px solid gray; */
}

.row {
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row img {
    cursor: pointer;
}

.row div:not(.selectedPicture, .miniIcon):hover {
    margin-right: 30px;
    width: 130px;
    height: 130px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

.selectedPicture {
    position: static;
    width: 130px;
    height: 130px;
    margin: 0 30px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

.que10success,
.que17success {
    border: 4px solid #9dd765 !important;
    border-radius: 5px;
}

.que10error,
.que17error {
    border: 4px solid #ffb47d !important;
    border-radius: 5px;
}

/* 11 QUESTION */

.app11 {
    width: 1170px;
    height: 627px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage11 {
    top: 25px;
    left: calc(50% - 561px / 2);
    width: 561px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content11 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 375px;
}

/* mans styles */

.mans2 {
    left: calc(50% - 330px / 2);
    width: 330px;
    height: 290px;
}

.friends {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.friends div {
    margin-right: 10px;
}

.JackConstructor {
    text-align: center;
    vertical-align: middle;
}

.JackConstructor div {
    margin-top: 0px;
    margin-bottom: -10px;
}

.signatures {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 40px;
}

.signatures .name {
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #333030;
}

/* btns styles */

.btns2 {
    top: 40px;
    left: calc(50% - 570px / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
}

.btnSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

/* 12 QUESTION */

.app12 {
    width: 1170px;
    height: 641px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage12 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

.content12 {
    top: 132px;
    left: calc(50% - 567px / 2);
    width: 567px;
    height: 389px;
}

/* figures styles */

.figures2 {
    left: calc(50% - 451.67px / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 451.67px;
    height: 100px;
}

.figures2 img:hover {
    transform: scale(1.2);
}

.topRow3,
.bottomRow3 {
    width: 451.67px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: grab;
}

.bottomRow3 {
    top: 17px;
}

/* collections styles */

.mergingCollections {
    top: 70px;
    height: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.heart,
.star,
.rhombus {
    width: 169px;
    height: 160px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
}

.headerHeart,
.headerStar,
.headerRhombus {
    width: 170px;
    height: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: -2px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerHeart {
    background: #ffe5e1;
}

.headerStar {
    background: #def0aa;
}

.headerRhombus {
    background: #e1ecf9;
}

.placeDroppingFigures {
    width: 169px;
    height: 115px;
    display: flex;
}

/* inputs styles */

.inputsCollection3 {
    top: 96px;
    width: 467px;
    left: calc(50% - 467px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.inputContent5 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 70px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

/* 13 QUESTION */

.app13 {
    width: 1170px;
    height: 554px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage13 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

.content13 {
    top: 132px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 302px;
}

/* objects styles */

.objects {
    left: calc(50% - 743px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 743px;
    height: 55px;
}

.objects img {
    cursor: grab;
}

.objects img:hover {
    transform: scale(1.2);
}

/* collections styles */

.mergingCollections2 {
    top: 77px;
    width: 770px;
    height: 168px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.circle,
.square2,
.triangle,
.rectangle {
    width: 170px;
    height: 168px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.headerCircle,
.headerSquare,
.headerTriangle,
.headerRectangle {
    width: 170px;
    height: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #205b64;
    color: white;
}

.placeDroppingFigures2 {
    width: 169px;
    height: 115px;
    display: flex;
}

/* 14 QUESTION */

.app14 {
    width: 1170px;
    height: 625px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage14 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

.content14 {
    top: 131px;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 350px;
}

/* closet styles */

.closetSpace {
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 250px;
}

.closet,
.closetSuccess,
.closetError {
    left: calc(50% - 198px / 2);
    width: 198px;
    height: 250px;
}

.closetSuccess {
    border: 4px solid #4ac636;
}

.closetError {
    border: 4px solid #fd0f0f;
}

#bottomSeat,
#centralSeat,
#topSeat {
    width: 60px;
    height: 60px;
}

#topSeat {
    top: -235px;
    left: 195px;
}

#centralSeat {
    top: -213px;
    left: 195px;
}

#bottomSeat {
    top: -193px;
    left: 115px;
}

/* toys styles */

.toys {
    top: 39px;
    left: calc(50% - 240px / 2);
    width: 240px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.toy {
    width: 60px;
    height: 60px;
}

.toy img {
    cursor: grab;
}

.toy img:hover {
    transform: scale(1.2);
}

/* 15 QUESTION */

.app15 {
    width: 1170px;
    height: 412px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage15 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content15 {
    top: 132px;
    left: calc(50% - 480px / 2);
    width: 480px;
    height: 160px;
}

/* row styles */

.row2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* answer styles */

.answer {
    top: 43px;
    left: calc(50% - 165px / 2);
    width: 165px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputArea input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 70px;
    height: 30px;
    left: 0px;
    top: 0px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    text-align: center;
}

.text {
    position: static;
    width: 85px;
    height: 22px;
    left: 80px;
    top: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

/* 16 QUESTION */

.app16 {
    width: 1170px;
    height: 611px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage16 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
}

/* content styles */

.content16 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 371px;
}

/* figures styles */

.figures3 img {
    cursor: grab;
}

.topRow4,
.bottomRow4 {
    left: calc(50% - 444px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 444px;
    height: 60px;
}

.bottomRow4 {
    top: 12px;
}

.topRow4 div:hover,
.bottomRow4 div:hover {
    transform: scale(1.2);
}

/* baskets styles */

.baskets {
    top: 73px;
    width: 570px;
    height: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.basketFlat,
.basketSolid {
    width: 270px;
    height: 179px;
    border: 1px solid gray;
    border-radius: 5px;
}

.headerFlat,
.headerSolid {
    width: 271px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px;
}

.headerText {
    width: 32px;
    height: 20px;
    top: calc(50% - 20px / 2);
    left: calc(50% - 32px / 2);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.placeDropFigures {
    width: 270px;
    height: 150px;
    display: flex;
}

/* 17 QUESTION */

.app17 {
    width: 1170px;
    height: 422px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage17 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content17 {
    top: 132px;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.leftFigure,
.rightFigure {
    width: 170px;
    height: 170px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selectedPicture2 {
    width: 170px;
    height: 170px;
    background: #ffffff;
    border: 2px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

.content17
    div:not(.selectedPicture2, .correctAnswer17, .headerCorrectAnswer, .contentCorrectAnswer):hover {
    width: 170px;
    height: 170px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px rgba(54, 156, 183, 0.29);
    border-radius: 10px;
}

/* 18 QUESTION */

.app18 {
    width: 1170px;
    height: 680px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage18 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content18 {
    top: 132px;
    left: calc(50% - 610px / 2);
    width: 610px;
    height: 428px;
}

.row3 {
    left: calc(50% - 610px / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 610px;
    height: 50px;
}

.row3 img {
    position: static;
    width: 50px;
    height: 50px;
    flex: none;
    order: 7;
    flex-grow: 0;
    margin-right: 30px;
    cursor: grab;
}

.row3 img:hover {
    transform: scale(1.2);
}

/* circles styles */

.circles {
    top: 75px;
    left: calc(50% - 466px / 2);
    display: flex;
    flex: 1;
    width: 466px;
    height: 301px;
    align-items: flex-end;
    justify-content: space-between;
}

.circle-container {
    width: 301px;
    height: 301px;
    border: 1px solid #a1a6d9;
    border-radius: 50%;
    overflow: hidden;
}

.background-circle {
    width: 301px;
    height: 301px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 170px;
    cursor: pointer;
}

.right-circle-container {
    transform: rotate(180deg);
    border: 1px solid #a1a6d9;
    position: absolute;
    left: 165px;
}

/* circles headers styles */

.circlesHeaders {
    width: 260px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    left: 195px;
    position: absolute;
    top: 100px;
}

.flowersHeader,
.redColorHeader {
    width: 105px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2f2f;
    z-index: 10;
}

/* 19 QUESTION */

.app19 {
    width: 1170px;
    height: 424px;
    top: 10px;
    left: calc(50% - 1170px / 2);
    border: 0.5px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.titlePage19 {
    top: 29px;
    text-align: center;
    width: 1170px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2f2f2f;
}

.clue {
    top: 30px;
    left: calc(50% - 293px / 2);
    width: 293px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.clueText {
    position: static;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #065b5b;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.lineUnderHeading2 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content19 {
    display: flex;
    top: 103px;
    left: 510px;
    width: 504px;
    height: 171px;
}

.resetField,
.parentResetField,
.grandParentResetField {
    box-sizing: border-box;
}

.resetField {
    top: 4px;
    opacity: 0.3;
    background: #dc97f4;
    width: 170px;
    height: 90px;
    margin-top: -8px;
    border: 0.5px dashed #064c5b;
}

.parentResetField {
    width: 178px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grandParentResetField {
    top: 31px;
    width: 178px;
    height: 98px;
}

/* triangles styles */

.triangles {
    position: absolute;
    left: 41px;
}

.firstTriangle,
.secondTriangle {
    cursor: grab;
    position: absolute;
}

.firstTriangle {
    left: 195px;
}

.secondTriangle {
    left: 315px;
    top: 80px;
}

/* edges styles */

.topСorner,
.bottomСorners {
    display: flex;
    width: 90px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bottomСorners {
    top: 70%;
}

/* for second triangle */

.leftCorners,
.rightCorner {
    display: flex;
    width: 30px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.rightCorner {
    top: 50px;
    left: 80%;
    height: 50px;
}

/* 20 QUESTION */

.question20 {
    top: 50px;
    margin-bottom: 100px;
}

.app20 {
    width: 1170px;
    height: 857px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage20 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2f2f2f;
    text-align: center;
}

/* content styles */

.content20 {
    top: 132px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 604.76px;
}

/* 1. cubes styles */

.cubes2 {
    left: calc(50% - 172px / 2);
    width: 172px;
    height: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* columns styles */

.leftColumn,
.rightColumn {
    display: flex;
    top: -40px;
    height: 222.01px;
}

.tool {
    margin-right: 5px;
}

#tassel {
    top: 50px;
}

#pencil {
    top: 70px;
}

.column div {
    margin: -10.7px 0;
}

.column {
    margin-right: 6.7px;
}

/* inputs styles */

.inputContent6 {
    left: calc(50% - 70px / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 56px;
}

.inputContent6 input {
    width: 50px;
    height: 30px;
    margin: 0px 5px;
    border: 1.5px solid #2f2f2f;
    border-radius: 5px;
    text-align: center;
}

.about {
    position: static;
    width: 62px;
    height: 16px;
    left: 4px;
    top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2f2f;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

/* diceShop styles */

.diceShop {
    top: 68.99px;
    left: calc(50% - 610px / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 610px;
    height: 80.76px;
}

.topRow5,
.bottomRow5 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.topRow5 div,
.bottomRow5 div {
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 20px;
    cursor: grab;
}

.topRow5 div:hover,
.bottomRow5 div:hover {
    transform: scale(1.2);
}

.bottomRow5 {
    margin-top: 8px;
}

/* btns styles */

.btnsAndQuestion {
    margin-top: 95px;
}

.question2 {
    width: 770px;
    height: 22px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.btns3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 45px;
}

.btns3 div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 100px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

/* STYLES THE END PAGE */

.btnsEnd {
    display: flex;
    margin-left: 40px;
    margin-bottom: 47px;
    margin-top: 10px;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 270px;
    height: 50px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.clear div:not(.nameBtn) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: static;
    width: 270px;
    height: 50px;
    left: calc(50% - 270px / 2 + 150px);
    top: calc(50% - 50px / 2);
    background: #ffffff;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 30px;
    cursor: pointer;
}

.nameBtn {
    position: static;
    left: 48.15%;
    right: 35.56%;
    top: 26%;
    bottom: 26%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #369cb7;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

/* ----------------------------------------------------------------------------------- CORRECT ANSWER STYLES --------------------------------- */

.correctAnswer1,
.correctAnswer2,
.correctAnswer3,
.correctAnswer4,
.correctAnswer5,
.correctAnswer6,
.correctAnswer7,
.correctAnswer8,
.correctAnswer9,
.correctAnswer10,
.correctAnswer11,
.correctAnswer12,
.correctAnswer13,
.correctAnswer14,
.correctAnswer15,
.correctAnswer16,
.correctAnswer17,
.correctAnswer18,
.correctAnswer19,
.correctAnswer20 {
    left: calc(50% - 450px / 2);
    width: 450px;
    height: 94px;
}

.correctAnswer1,
.correctAnswer2,
.correctAnswer8,
.correctAnswer9,
.correctAnswer11,
.correctAnswer14,
.correctAnswer15 {
    top: 100px;
}

.correctAnswer4 {
    top: 320px;
}

.correctAnswer5,
.correctAnswer16,
.correctAnswer18,
.correctAnswer13 {
    top: 120px;
}

.correctAnswer12 {
    top: 160px;
}

.correctAnswer17,
.correctAnswer19 {
    top: 180px;
}

.correctAnswer20 {
    top: 50px;
}

.correctAnswer7 img:not(:last-child),
.correctAnswer12 img:not(:last-child),
.correctAnswer13 img:not(:last-child),
.correctAnswer16 img:not(:last-child) {
    margin-right: 30px;
}

.headerCorrectAnswer {
    left: calc(50% - 237px / 2);
    width: 237px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f2f2f;
}

/* ----------------------------------------------------------------------------- CONTENT CORRECT ANSWER STYLES --------------------------------- */

.contentCorrectAnswer,
.contentCorrectAnswer3,
.contentCorrectAnswer6,
.contentCorrectAnswer7,
.contentCorrectAnswer10,
.contentCorrectAnswer12,
.contentCorrectAnswer13,
.contentCorrectAnswer14,
.contentCorrectAnswer16,
.contentCorrectAnswer17,
.contentCorrectAnswer18,
.contentCorrectAnswer19 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.contentCorrectAnswer {
    top: 20px;
}

.contentCorrectAnswer3,
.contentCorrectAnswer10,
.contentCorrectAnswer19 {
    top: 60px;
}

.contentCorrectAnswer6,
.contentCorrectAnswer7,
.contentCorrectAnswer12,
.contentCorrectAnswer17,
.contentCorrectAnswer16,
.contentCorrectAnswer13 {
    top: 80px;
}

.contentCorrectAnswer14 {
    top: 120px;
}

.contentCorrectAnswer18 {
    top: 160px;
}

.inputCorrectAnswer {
    width: 70px;
    height: 30px;
    background-color: #48b736;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsHome,
.inputsHome2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.inputsHome {
    top: 160px;
    width: 450px;
}

.inputsHome2 {
    top: 60px;
    left: calc(50% - 170px / 2);
    width: 170px;
    /* border: 1px solid gray; */
    color: white;
}
