.app2 {
    width: 1170px;
    height: 348px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage2 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 88px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading2 {
    top: 138px;
    position: absolute;
    width: 1169px;
    height: 0px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content2 {
    top: 118px;
    left: calc(50% - 252px / 2);
    width: 252px;
    height: 30px;

    /* border: 1px solid gray; */

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* flex-direction: row;
    align-items: flex-start; */
}

.input2 {
    position: static;
    width: 50px;
    height: 30px;
    left: 63px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    text-align: center;
}
