.app17 {
    width: 1170px;
    height: 732px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage17 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading17 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 90px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content17 {
    top: 154px;
    left: calc(50% - 584px / 2);
    width: 584px;
    height: 458px;

    /* border: 1px solid gray; */
}

.graph {
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 298px;
    border-radius: 5px;
    /* border: 1px solid orange; */
}

.questions {
    top: 47px;
    width: 584px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /* border: 1px solid; */
}

.questions input {
    position: static;
    width: 40px;
    height: 30px;
    left: 425px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    text-align: center;
}
