.app5 {
    width: 1170px;
    height: 447px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage5 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading5 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content5 {
    top: 134px;
    left: calc(50% - 569px / 2);
    width: 569px;
    height: 173px;
    /* border: 1px solid gray; */
}

.frog {
    width: 569px;
    height: 78px;
    /* border: 1px solid gray; */
}

.btns5 {
    top: 47px;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border: 1px solid gray; */
}

.btns5 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 70px;
    height: 45px;
    left: calc(50% - 70px / 2 - 150px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}
