.app16 {
    width: 1170px;
    height: 457px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage16 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.subtitle16 {
    top: 10px;
    left: calc(50% - 338px / 2);
    width: 338px;
    height: 24px;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #065b5b;
    font-weight: lighter;
}

.lineUnderHeading16 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content16 {
    top: 147px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid gray; */
}

.content16 div {
    width: 170px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content16 div:not(:last-child) {
    margin-right: 30px;
}
