.app13 {
    width: 1170px;
    height: 317px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage13 {
    top: 26px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.subtitle13 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 10px;
    left: calc(50% - 298px / 2);
    width: 298px;
    height: 24px;
    /* left: 571px; */
    /* top: 6906px; */
    color: #065b5b;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
}

.lineUnderHeading13 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content13 {
    top: 137px;
    left: calc(50% - 339px / 2);
    width: 339px;
    height: 30px;

    /* border: 1px solid gray; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.input13 {
    position: static;
    width: 50px;
    height: 30px;
    left: 63px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0 5px; */
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    text-align: center;
}
