.app7 {
    width: 1170px;
    height: 684px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage7 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading7 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content7 {
    top: 154px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 410px;
    /* border: 1px solid; */
}

/* expressions styles */

.expressions7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 120px;

    /* border: 1px solid; */
}

.topRow7 div,
.bottomRow7 div {
    cursor: grab;
}

.topRow7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    left: calc(50% - 340px / 2);
    width: 340px;
    height: 45px;

    flex: none;
    order: 0;
    flex-grow: 0;

    /* border: 1px solid orange; */
}

.bottomRow7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    width: 570px;
    height: 45px;
    top: 75px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 27px;

    /* border: 1px solid red; */
}

/* baskets styles */

.baskets7 {
    top: 77px;
    width: 570px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid; */
}

.true,
.false {
    width: 270px;
    height: 210px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

.headerBasketTrue,
.headerBasketFalse {
    width: 272px;
    left: -1px;
    top: -1px;
    height: 28px;
    background: #205b64;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.placeOfDroppingFigures7 {
    width: 270px;
    height: 183px;
    /* border: 1px solid; */
    left: -1px;
    top: -1px;
}

.expression70,
.expression71 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;

    /* below text styles */

    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    margin-right: 10px;
}

.expression70 {
    width: 80px;
}

.expression71 {
    width: 120px;
}
