.app14 {
    width: 1170px;
    height: 489px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage14 {
    top: 25px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineUnderHeading14 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content14 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 236px;
}

.pencils14 {
    left: calc(50% - 420.06px / 2);
    width: 420.06px;
    height: 62.74px;
}

/* .ruler14 {
    top: 29px;
    width: 270px;
    height: 57px;
    left: 226px;
    cursor: grab;
} */

.btns14 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
    top: 120px;
}

.btns14 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}

/* ruler styles */

.ruler14 {
    position: absolute;
    display: flex;
    top: 89px;
    width: 270px;
    height: 57px;
    left: 232px;
    cursor: grab;
}

/* .ruler {
    position: absolute;
    top: 121px;
    display: flex;
} */

.leftEdge,
.rightEdge {
    display: flex;
    width: 50px;
    height: 57px;
    position: absolute;
    /* border: 1px solid; */
    cursor: pointer;
}

.leftEdge {
    z-index: 1;
}

.rightEdge {
    left: 79%;
}
