.app19 {
    width: 1170px;
    height: 457px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage19 {
    top: 26px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.subtitle19 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 10px;
    left: calc(50% - 298px / 2);
    width: 298px;
    height: 24px;
    color: #065b5b;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
}

.lineUnderHeading19 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content19 {
    top: 167px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 170px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content19 div {
    position: static;
    width: 170px;
    height: 170px;
    left: 600px;
    top: 0px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
