.app9 {
    width: 1170px;
    height: 427px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage9 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading9 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content9 {
    top: 133px;
    left: calc(50% - 758.8px / 2);
    width: 758.8px;
    height: 174px;

    /* border: 1px solid gray; */
}

.train {
    width: 758.8px;
    height: 62.2px;

    /* transform: matrix(-1, 0, 0, 1, 0, 0); */

    /* border: 1px solid; */

    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

.wagons {
    top: 50px;
    left: calc(50% - 330px / 2);
    width: 330px;
    height: 62.2px;

    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

.wagons div {
    cursor: grab;
}
