.app10 {
    width: 1170px;
    height: 343px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage10 {
    top: 26px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading10 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content10 {
    top: 110px;
    left: calc(50% - 240px / 2);
    width: 260px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topRow10 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 260px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottomRow10 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 30px;
    top: 27px;
}

.input10 {
    position: static;
    width: 50px;
    height: 30px;
    left: 63px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    text-align: center;
}
