.app20 {
    width: 1170px;
    height: 510px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage20 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f2f2f;
}

.lineUnderHeading20 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content20 {
    top: 132px;
    left: calc(50% - 570px / 2);
    width: 570px;
    height: 258px;
}

.triangles20 {
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 163px;
}

.btns20 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 570px;
    height: 45px;
    top: 47px;
}

.btns20 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 170px;
    height: 45px;
    left: calc(50% - 170px / 2 - 200px);
    top: calc(50% - 45px / 2);
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    cursor: pointer;
}
