.app15 {
    width: 1170px;
    height: 492px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage15 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lineUnderHeading15 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content15 {
    top: 132px;
    left: calc(50% - 360px / 2);
    width: 360px;
    height: 240px;

    /* border: 1px solid gray; */
}

.topRow15 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 360px;
    height: 100px;
    /* border: 5px solid orange; */
}

.topRow15 div {
    position: static;
    width: 100px;
    height: 100px;
    left: 260px;
    top: 0px;

    background: #f4f4f4;
    /* border: 1px solid #d0d0d0; */
    box-sizing: border-box;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-right: 30px;
}

.bottomRow15 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 360px;
    height: 100px;
    top: 40px;
    /* border: 1px solid red; */
}

.bottomRow15 div {
    position: static;
    width: 100px;
    height: 100px;
    left: 260px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-right: 30px;
    /* border: 1px solid red; */
    cursor: grab;
}
