.app11 {
    width: 1170px;
    height: 580px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage11 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineUnderHeading11 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content11 {
    top: 132px;
    left: calc(50% - 309.04px / 2);
    width: 309.04px;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid; */
}

/* cubes styles */

.cubes11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 309.04px;
    height: 187.65px;

    /* border: 1px solid; */
}

.leftColumnsBaza,
.rightColumnsBaza {
    display: flex;
    top: 10px;
}

.leftColumnsBaza {
    margin-right: 38px;
}

.firstColumn11 div,
.secondColumn11 div,
.thirdColumn11 div {
    margin: -10.7px 0;
    cursor: grab;
}

.fourthColumn11 div,
.fifthColumn11 div,
.sixthColumn11 div {
    margin: -10px 0;
    cursor: grab;
}

.firstColumn11,
.secondColumn11,
.thirdColumn11,
.fourthColumn11,
.fifthColumn11,
.sixthColumn11 {
    margin-right: 6px;
}

/* inputs styles */

.inputs11 {
    top: 40px;
    width: 222.11px;
    height: 30.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContent11 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    left: 0px;
    top: 0.2px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    transform: rotate(-0.21deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    text-align: center;
}

.disableDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    left: 84.11px;
    background: #f4f4f4;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 30px;
}

/* btns styles */

.btns11 {
    top: 74px;
    width: 222px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.btnContent11 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 54px;
    height: 30px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    color: white;
    cursor: grab;
}
